.placed {
    position: absolute;
}

.placed.selected {
    outline: 2px solid #4a90e2;
    outline-offset: 0;
}

.placed img {
    display: block;
    pointer-events: none;
    transform-origin: center center;
}
