.placed-structure {
    width: auto;
    height: auto;
}

.placed-structure img {
    width: auto !important;
    height: auto !important;
    max-width: none !important;
    max-height: none !important;
    image-rendering: pixelated;
    pointer-events: none;
}
